body {
    background-color: lightblue;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: navy;
    margin-left: 20px;
}

caption {
    width: 100px;
    text-align: center;
}


button {
    background-color: navy; /* Cream */
    border: none;
    color: white;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    display: block;
    margin: auto;
    font-size: 12px;
}

img {
	display: block;
    margin: auto;
    width: 40%;
    ms-transform: rotate(90deg); /* IE 9 */ 
	webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */ 
	transform: rotate(90deg); 
}
